
.bg-blur1::after{
    top: 3%;
    filter: blur(140px);
}

.bg-blur2::after{
    top: 90%;
    right: 5%;
}

.bg-blur2::before{
    filter: blur(150px);
    top: 150%;
}
::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
    background: rgba(226, 110, 93, 0.3); /* Color of the scrollbar handle with opacity */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #e26e5d; /* Color of the scrollbar handle */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #e26e5d; /* Color of the scrollbar handle on hover */
  }

  @media only screen and (min-width: 768px) {
    .bg-img {
        background-image: url("/bg-images/factory.png");
        background-size: contain;
        background-position: 0px 65%;
        background-repeat: no-repeat;
    }
}

.bg-with-image {
  background-image: url('/bg-images/OIP.png');
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: right -35% center ;
}