
@media screen and (min-width: 1200px) {
    .bg-frame {
        background-image: url("/bg-images/bg-roadmap.png");
        background-repeat: no-repeat;
        background-size: auto;
        background-position: left -20px top -10px;
    }
}
